.bestsellers {
  height: 611px;

  &-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    margin-bottom: 6px;
    @include fontSize(26px, 32px);
    @include fontStyling(700);
    text-align: center;
    color: #000;
  }

  &__link {
    display: block;
    margin-bottom: 34px;
    font-family: Roboto, sans-serif;
    @include fontSize(14px, 16px);
    @include fontStyling(400);
    text-align: center;
  }

  // Responsive styles
  @media (max-width: 992px) {
    &-cards {
      justify-content: center;

      &__item {
        margin: 0 14px 25px;
      }
    }
  }

  @media (max-width: 576px) {
    &-cards {
      &__item {
        margin: 0 7px 25px;
      }
    }

    &__title {
      @include fontSize(22px, 27px);
    }

    &__link {
      margin-bottom: 24px;
      @include fontSize(12px, 15px);
    }
  }

  @media (max-width: 390px) {
    &-cards {
      justify-content: space-between;

      &__item {
        margin: 0 0 14px;
      }
    }
  }

  @media (max-width: 370px) {
    &-cards {
      justify-content: center;

      &__item {
        margin: 0 10px 14px;
      }
    }
  }
}
