mixin socialItems(icon, link)
  a(href= link, target="_blank", class="footer-socials__item_" + icon).footer-socials__item

mixin navItems(text, link)
  li.footer-nav__item
    if (link)
      a(href= link).footer-nav__link= text
    else
      a(href="#!").footer-nav__link= text

footer.footer
  .footer-top
    .footer-container
      .footer-top__wrapper
        .footer-company.footer__company
          img(src="./images/logo-footer.svg" alt="Logo").footer-company__logo
          p.footer-company__address
            | Philadelphia, PA, United States 19151 (online store only)
          p.footer-company__timetable
            | 10:00 AM - 8:00 PM
          .footer-socials
            +socialItems('facebook', 'https://www.facebook.com/')
            +socialItems('instagram', 'https://www.instagram.com/')
            +socialItems('youtube', 'https://www.youtube.com/')
            +socialItems('telegram', 'https://t.me/InMoveSkates')

        nav.footer-nav.footer__nav
          .footer-nav__group.footer-nav__group_information
            h3.footer-nav__title
              | Information
            ul.footer-nav__list
              +navItems('Wholesales (for stores)')
              +navItems('About us')
              +navItems('Shipping')
              +navItems('How to choose size')
              +navItems('Inline skates lessons')

          .footer-nav__group.footer-nav__group_catalog
            h3.footer-nav__title
              | Catalog
            ul.footer-nav__list
              +navItems('Skates')
              +navItems('Protection')
              +navItems('Wheels')
              +navItems('Accessories')
              +navItems('Backpack')
              +navItems('Brands')

          .footer-nav__group.footer-nav__group_contacts
            h3.footer-nav__title
              | Contacts
            .footer-nav__list
              p.footer-nav__item.footer-nav__item_contacts
                | Philadelphia, PA, United States 19151
                br 
                | (online store only)
              p.footer-nav__item.footer-nav__item_contacts
                | 10:00 AM - 8:00 PM
          
          .footer-nav__group.footer-nav__group_account
            h3.footer-nav__title
              | My account
            ul.footer-nav__list
              +navItems('Order history')
              +navItems('Returns')
              +navItems('Newsletter')

        .footer-info.footer__info
          .footer-info__question
            h3.footer-info__title
              | Still have a question?
            a(href="#").button.button_primary.footer-info__link
              | Message us
          img(src="./images/payments-card.png" alt="Payment types").footer-info__payments

  .footer-bottom
    .footer-container
      .footer-bottom__wrapper
        .footer-bottom__copywrite.footer-copywrite
          span.footer-copywrite__sign
            | &copy; 2021
          span.footer-copywrite__text
            | InMove Skates
        
        .footer-bottom__links.footer-links
          a(href="#").footer-links__item
            | Privacy Policy
          a(href="#").footer-links__item
            | Terms & Conditions
          