.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  border-radius: 25px;
  min-width: 182px;
  height: 40px;
  @include fontStyling(500);
  white-space: nowrap;
  overflow-x: hidden !important;
  text-overflow: ellipsis;
  color: $color-dark-grey;
  background-color: $color-grey;

  &_primary {
    @include fontStyling(600);
    color: #fff;
    background-color: $color-primary;
  }
}

.container {
  max-width: 995px;
  margin: 0 auto;

  @media (max-width: 992px) {
    max-width: 700px;
  }

  @media (max-width: 767px) {
    max-width: 576px;
    width: 81%;

    &_body {
      width: 90%;
    }
  }
}
