extends pug/layout/head

block variables
  - var pageTitle = 'InMove Skates'

mixin advantagesItem(title, description)
  li.advantages-list__item.advantages-item
    .advantages-item__title= title
    span.advantages-item__description= description

block content
  main.hero
    .container
      .hero-slider.slider
        //- Slide 1
        .hero-slider__slide.hero-slide.hero-slider__slide_active
          .hero-slide__info
            span.hero-slide__surtitle
              | Best for beginners
            h1.hero-slide__title
              | FR Skates FRX&nbsp;80
            span.hero-slide__subtitle
              | in Black and Orange
            p.hero-slide__description
              | One of the best freeride skates in the World! 
              | Great&nbsp;comfrtable liners, special premium insoles and wheels.
            a(href="#").button.button_primary.hero-slide__button.hero-button
              span.hero-button__text
                | Learn more
              img(src="./images/arrow.svg")

          img(src="./images/slide1.png" alt="Изображение роликовых коньков").hero-slide__image

        //- Slide 2
        .hero-slider__slide.hero-slide
          .hero-slide__info
            span.hero-slide__surtitle
              | Best for General Grivus
            h1.hero-slide__title
              | FR Skates FRX&nbsp;60
            span.hero-slide__subtitle
              | in Orange and Black
            p.hero-slide__description
              | One of the best freeride skates in the World! 
              | Great&nbsp;comfrtable liners, special premium insoles and wheels.
            a(href="#").button.button_primary.hero-slide__button.hero-button
              span.hero-button__text
                | Learn more
              img(src="./images/arrow.svg")

          img(src="./images/slide1.png" alt="Изображение роликовых коньков").hero-slide__image
        
        //- Slide 3
        .hero-slider__slide.hero-slide
          .hero-slide__info
            span.hero-slide__surtitle
              | Best for megatrons
            h1.hero-slide__title
              | FR Skates FRX&nbsp;40
            span.hero-slide__subtitle
              | in Black and Black
            p.hero-slide__description
              | One of the best freeride skates in the World! 
              | Great&nbsp;comfrtable liners, special premium insoles and wheels.
            a(href="#").button.button_primary.hero-slide__button.hero-button
              span.hero-button__text
                | Learn more
              img(src="./images/arrow.svg")

          img(src="./images/slide1.png" alt="Изображение роликовых коньков").hero-slide__image

        //- Slider navigation
        .slider-navigation
          button.slider-navigation__button.slider-navigation__button_prev
            svg.slider-navigation__arrow.slider-navigation__arrow_prev
              use(xlink:href="./images/sprites.svg#arrow")

          ul.slider-navigation__pagination.slider-pagination

          button.slider-navigation__button.slider-navigation__button_next
            svg.slider-navigation__arrow
              use(xlink:href="./images/sprites.svg#arrow")

  .advantages
    .container.container_body
      ul.advantages-list
        +advantagesItem("FREE SHIPPING IN THE USA", "order over $50")
        +advantagesItem("RETURN IF YOU DON’T LIKE", "30 days")
        +advantagesItem("WAREHOUSE", "in Philadelhia")
